#flighthead {
    margin-left: 42rem;
    margin-top: 4rem;
    color: white;
}

body {
    /* background-color: #b83b5e !important; */
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    font-family: 'Poppins', sans-serif;
}

.logout {
    background-color: #ea2c62;
    margin-right: 2rem;
}

.card {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    border-radius: 1rem;
}

.card-body {
    margin-top: 1rem;
    margin-bottom:1rem;
}

.add-btn {
    margin-top: 1rem;
    margin-left: 38rem;
    padding:5px 20px;
}

.btn-warning {
    margin-top: 1rem;
    margin-left: 2rem;
    padding:5px 20px;
}

.form-control {
    width: 9rem;
    margin-left: 0px;
    margin-right: 0px;
    box-sizing: border-box;
}